body{
    background-color: lightblue;
position: relative;
text-align: center;
/* margin: 0 auto; */
    /* margin: 0; */
}


.top-cloud{
    height: 100px;
    width: 150px;
    position: absolute;
   left: 600px;
}

.header-text{
display: inline-block;
position: ;

}

.bottom-cloud{
    height: 100px;
    width: 160px;
    position: absolute;

}

.mountain-image{
    height: 430px;
    width: 400px;
}
