body{
    background-color: lightblue;
    margin: 0;
}

.container{
position: relative;
}

.top-cloud{
    height: 100px;
    width: 150px;
    position: absolute;
    left: ;
}

.bottom-cloud{
    height: 100px;
    width: 160px;
}

.mountain-image{
    height: 450px;
    width: 400px;
}
