body{
    background-color: lightblue; 

    }

.container{
    margin:  0;
    position: relative;
    text-align: center;
    padding-top: 70px; 

}

.top-cloud{
    height: 100px;
    width: 150px;
    position: absolute;
    top: 7vh;
   left: 60vw;
}

.header-text{
display: inline-block;
/* position: absolute; */
margin: 70px;
}

.header-text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.header-text h2{
    font-weight: ;
}

.bottom-cloud{
    height: 100px;
    width: 160px;
    position: absolute;
    top: 35vh;
    left: 30vw;
}

.mountain-image{
 
    height: 430px;
    width: 400px;
}
