body{
   
    /* margin: 0; */
}

.container{
    background-color: lightblue;
position: relative;
text-align: center;

}

.top-cloud{
    height: 100px;
    width: 150px;
    position: absolute;
    left: 40%;
    margin: 0 auto;
}

.header-text{
 margin-top: 10%;
}

.bottom-cloud{
    height: 100px;
    width: 160px;
    position: absolute;

}

.mountain-image{
    height: 430px;
    width: 400px;
}
