body{
    background-color: lightblue;
    /* margin: 0; */
}

.box-1{
    border: 2px solid black ;
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left:30%;
    top: 40%;
}

.box-2{
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 109px;
    top: 110px;
}


.box-3{
    border: 2px solid;
    background-color: yellow;
    height: 100px;
    width: 100px;

}
