body{
    background-color: lightblue;
    margin: 0;
}

.box-1{
    border: 10px solid black;
    padding: 20px;
    height: 150px;
    width: 150px;
}

.box-2{
    border: 5px solid blue;
    height: 200px;
    width: 120px;
    margin-left: 100px;
}
.box-3{
    border: 10px solid red;
    background-color: chartreuse;
    color: white;
}
